*{
  margin:0;
  padding:0;
}
body{
  background:black;
}
.red ul{
  background: rgb(0, 0, 255);
 color:whitesmoke;
  width:100%;
  display:flex;
flex-direction: row;
justify-content:center;
}
.red ul li{
   list-style:none;
margin: 20px 40px;
}
.red ul h1{
  margin: 7px 490px 9px 21px;
}
a:link{
  color:whitesmoke;
  text-decoration:none;
}
a:hover{
  color:red;
}
a:active{
  color:green;
}
a:visited{
  color:white;
}
.cu{
  display:none;
}
.dropdown-menu{
  position: relative;
  display: inline-block; 
  display: none;
    position: absolute;
    right: 0;
    background: rgb(0, 0, 255);
    font-size: large;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.cu:checked ~.dropdown-menu{
  display:block;
 }
 .one {
  margin: 0px 22px;
  padding: 5px;
}
ul{
  list-style:none;
}
